// Variables

$header-size: 1.3em;
$subheader-size: 0.9rem;
$text-size: 1rem;

// Background
$background-color: #edebec;

// Fonts
$font-color: #343434;
$font-title-color: #464646;
$font-button-color: #bcbcbc;
$font-header-color: #ffffff;
$font-subheader-color: #fb4f89;
$font-status-color: #e6fded;

// Header and footer
$header-color: #3c3c3c;

// Buttons
$friend-buttoncolor: #4CAF50;
$friend-maincolor: #f0f;

// Status
$status-color: #5aec90;
