@import 'base';
@import 'header';

main {
	flex: 1;
	padding:$main-padding;
	color: $font-color;
	background: $background-color;
  	@extend %flex-columns;
  	align-items: stretch;

    .messages {
    	max-width: $profile-maxwidth;
    	@extend %flex-columns;
    	@extend %centered;
    	justify-content: flex-start;
    	overflow-y: auto;
    	.message {
    		@extend %flex-rows;
    		flex-shrink: 0;
    		.bubbletext-container {
				width: calc(100% - 60px);
				&.fromuser {
					background-color: $fromuser-background;
					order: 2;
					margin: 0 50px 15px 10px;
					&:after{
						border-color: $fromuser-background transparent transparent transparent;
					}
				}
				&.touser {
					background-color: $touser-background;
					order: 1;
					margin: 0 10px 15px 50px;
					&:after {
						content: ' ';
						position: absolute;
						width: 0;
						height: 0;
					  	right: -12px;
						left: auto;
					  	top: 0px;
						bottom: auto;
						border: 15px solid;
						border-color: $touser-background transparent transparent transparent;
					}
					p {
						color: white;
					}
				}
			}
			.userpicture {
				height:$picture-size;
				width:$picture-size;
				order: 1;
				img {
					width:100%;
					@include border-radius($picture-size/2);
				}
				.status {
					width: $statuscircle-size;
				    height: $statuscircle-size;
				    background: $statuscircle-color;
				    @include border-radius($statuscircle-size/2);
				    position: relative;
				    top: -18px;
				    left: 29px;
				}
			}
    	}
    	
    }

    

	#footer {
		align-self: flex-end;
		width: 100%;
		.bubbletext-container {
			margin: 0 0 0 20px;
			background-color: white;
			width: calc(100% - 20px);
			&.fromuser:after{
				border-color: white transparent transparent transparent;
			}
			input {
				color: #000;
				width: 100%;
				font-size: 1em;
				outline: none;
				&:focus {
			    	outline-style:none;
			    	@include box-shadow(none);
					border-color:transparent;
			    }
			}
		}
	}

	.bubbletext-container {
	  	display: inline-block;
	  	position: relative;
		height: auto;
		@include border-radius(5px);
		&.fromuser:after{
			content: ' ';
			position: absolute;
			width: 0;
			height: 0;
		  	left: -12px;
			right: auto;
		  	top: 0px;
			bottom: auto;
			border: 15px solid;
		}
		.bubbletext{
			padding: 1em;
		    text-align: left;
		    line-height: 1.5em;
		    p {
		    	-webkit-margin-before: 0em;
				-webkit-margin-after: 0em;
		    }
		}
	}

}

