@import 'base';
@import 'header';

main {
	flex: 1;
	padding:$main-padding;
	color: $font-color;
	background: $background-color;
  	@extend %flex-columns;
  	align-items: stretch;
  	overflow-y: auto;
  	&.friends {
  		animation: fadingoutbackground 0.3s;
    	background: $background-color-friend;
    	#footer
    	{
	    	.button {
	    		animation: fadingoutbutton 0.3s;
			    background: $background-friends;
			    color: $font-friends-color;
			    @include box-shadow(0 0 0 2px $background-nofriends inset);
			    @include box-sizing(border-box);
			} 
		}
    }

    .profile {
    	@extend %centered;
    	max-width: $profile-maxwidth;
    	.profile-picture {
	    	align-self: stretch;
	    	align-items: center;
	    	padding: 3rem 1.5rem 1.5rem;
	    	&:hover, &:active {
		    	opacity:0.7;
		    }
	    	img {
	    		width:100%;
	    		height: 100%;
	    		margin: -24vw auto 0;
	    		@include border-radius(50%);
	    		background-position: center center;
	  			background-size: cover;
	    	}

	    	.profile-status {
	    		width: $status-size;
	    		height: $status-size;
	    		background: $status-color;
	    		color: $font-status-color;
	    		line-height: $status-size;
	    		text-align: center;
	    		text-transform: uppercase;
	    		font-size: $font-status-size;
	    		@include border-radius($status-size/2);
	    		@include box-shadow(0px 1px 1px 1px rgba(0,0,0,0.15));
				position: relative;
	            top: 0px;
	            left: calc(100% - 13vw);
	    	}	
	    }

	    .profile-info {
	    	align-self: stretch;
	    	.top {
	    		@extend %flex-rows; 
	    		h1 {
					font-size: $font-profilename-size;
					color: $font-profilename-color;
					font-weight: normal;
					margin: 0px;
				}
	    		span {
	    			align-self: flex-end;
	    			position: relative;
		  		    font-size: $star-size;
				    margin-top: -3vw;
				    margin-right: 0.2rem;
				    text-shadow: 1px 1px 3px $star-shadow-color;
				    &:before {
	    				content: "\2605";
	   					position: absolute;
			   			color: $star-color;
	    			}
	    			&.clicked {
	    				background-color: $star-clicked-color;
					  	text-shadow: 1px 1px 1px $star-clicked-color;
					  	@include background-clip(text);
	    				&:before {
				   			color: transparent;
		    			}
	    			}
	    			
	    		}
	    	}
	    	
			h3 {
				margin:0px;
				color: $font-profilelocation-color;
				font-size: $font-profilelocation-size;
			}
			p {
				font-size: $font-description-size;
			}
	    }

    }

    

	#footer {
		align-self: flex-end;
		width: 100%;
		.button {
		    background-color: $background-nofriends;
		    border: none;
		    color: $font-nofriends-color;
		    padding: 4.2vw 0px;
		    text-align: center;
		    font-size: $font-button-size;
		    font-weight:normal;
		    cursor: pointer;
		    width:100%;
		    text-transform: uppercase;
		    &:focus {
		    	outline:0 !important;
		    }
		}
	}
}

