@import 'base';

body{
	margin: 0;
	padding: 0;
	height:100vh;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: space-between; 
  	flex-direction: column;
  	align-items: stretch;
}

#header {
	background: $header-color;
	padding: 1rem;
	color: $font-header-color;
	font-size: 1.3rem;
	align-self: flex-start;
	width:100%;
}

main {
	flex: 1;
	padding:1rem;
	color: $font-color;
	background: $background-color;
  	display: flex;
  	justify-content: space-between; 
  	flex-direction: column;
  	align-items: stretch;
  	&.friends {
    	background: $friend-maincolor;
    	#footer
    	{
	    	.button {
			    background: $friend-buttoncolor;
			} 
		}
    }

    .profile-picture {
    	align-self: stretch;
    	align-items: center;
    	padding: 3rem 1.5rem 1.5rem;
    	img {
    		width:100%;
    		height: 100%;
    		margin: -90px auto 0;
    		border-radius: 50%;
    		background-position: center center;
  			background-size: cover;
    	}
    	.profile-status {
    		width: 70px;
    		height: 70px;
    		background: $status-color;
    		color: $font-status-color;
    		line-height: 70px;
    		text-align: center;
    		text-transform: uppercase;
    		font-size: 0.75rem;
    		border-radius: 35px;
    		-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
			-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
			box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
			position: relative;
            top: 0px;
            left: calc(100% - 55px);
    	}	
    }

    .profile-info {
    	align-self: stretch;
    	.top {
    		display: flex;
    		flex-direction: row;
    		justify-content: space-between; 
    		h1 {
				font-size: $header-size;
				color: $font-title-color;
				font-weight: normal;
				margin: 0px;
			}
    		span {
    			align-self: flex-end;
    		}
    	}
    	
		h3 {
			margin:0px;
			color: $font-subheader-color;
			font-size: $subheader-size;
		}
		p {
			font-size: $text-size;
		}
    }

	#footer {
		align-self: flex-end;
		width: 100%;
		.button {
		    background-color: $header-color;
		    border: none;
		    color: $font-header-color;
		    padding: 15px 0px;
		    text-align: center;
		    font-size: 0.85rem;
		    font-weight:normal;
		    cursor: pointer;
		    width:100%;
		    text-transform: uppercase;
		}
	}
	
}
